                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  /*
===========================================================
                       GENERAL STYLES
 ==========================================================
*/

:root {
  --color1: #030303;
  --color2: #3b393a;
  --color3: #a99561;
  --color4: #efefef;
  --color5: #fff;
}

/*
===========================================================
                       NAVBAR
 ==========================================================
*/

.navbar {
  width: 100%;
  height: 62px;
  background: linear-gradient(135deg, #fff 0%, #fff 60%, #efefef 100%);
  font-size: 0.95rem;
}

.link {
  color: var(--color1);
  text-shadow: 2px 2px 2px #a99561;
  padding: 0.4rem;
}

.link:hover {
  color: var(--color1);
  background-color: var(--color3);
  text-decoration: none;
  border-radius: 0.15rem;
}

#logo {
  position: relative;
  top: 1rem;
  left: 2rem;
  background-color: var(--color3);
  height: 65px;
  width: 58px;
  transition: 0.6s;
}

#logo:hover {
  transform: rotateY(360deg);
}

.logo {
  position: absolute;
  right: 0.8rem;
  height: 46px;
  width: 35px;
}

#arrow {
  position: relative;
  top: -4.6rem;
  background-color: var(--color3);
  margin-left: 3rem;
  margin-top: 0;
  height: 65px;
  width: 58px;
  transition: 0.6s;
}

#arrow:hover {
  transform: rotateY(360deg);
}

.arrow {
  padding-right: 0;
  height: 46px;
  width: 35px;
}

/*
===========================================================
                        HEADER
 ==========================================================
*/

.bg {
  background-color: var(--color1);
}

.social i {
  color: var(--color5);
}

.icon:hover {
  color: var(--color3);
}

.social {
  padding-top: 5rem;
}

.name {
  font-weight: bold;
}

.dev {
  font-weight: bold;
  border: 2.5px solid var(--color3);
  border-radius: 4px;
  padding: 1rem;
  text-align: center;
  justify-content: center;
}

.bg-img {
  position: relative;
  width: 100%;
  background: url(../images/background.png) no-repeat;
  background-size: cover;
  background-position-y: 100%;
  height: 580px;
  margin-top: 2rem;
}

.my-img {
  position: absolute;
  top: 5.6rem;
  right: 0;
  width: 350px;
  height: 490px;
}

/*
===========================================================
                        MAIN
 ==========================================================
*/

.art-img {
  position: relative;
  left: 6rem;
  width: 230px;
  height: 330px;
}

.art-img img {
  position: absolute;
  left: 3rem;
  right: 0;
  z-index: 1;
}

#rectangle {
  border: 2.3px solid var(--color3);
  width: 200px;
  height: 310px;
  border-radius: 5.5px;
  position: absolute;
  top: 1rem;
  left: 8rem;
}

.about-txt > h1 {
  font-weight: bolder;
  color: var(--color3);
  margin-right: 4rem;
}

.about-txt > h2 {
  font-weight: bolder;
  color: var(--color5);
  margin-right: 4rem;
}

.about-txt > p {
  margin-top: 2rem;
  margin-right: 3rem;
  color: var(--color5);
}

.about-txt > span {
  color: var(--color5);
  border: 2.5px solid var(--color3);
  border-radius: 5px;
  margin: 1rem 4rem 0 auto;
}

.about-txt > span:hover {
  background-color: var(--color3);
  color: var(--color5);
  border: 2.5px solid var(--color3);
  border-radius: 5px;
}

.contact {
  background: linear-gradient(to right, #524F51 0%, #272626 26%, #090909 100%);
  margin-top: 3rem;
  color: var(--color5);
}

#projects {
  margin-bottom: 1rem;
}

.contact > div {
  text-align: center;
}

.title > h1 {
  font-weight: bolder;
  color: var(--color3);
  margin-top: 2rem;
}

.title > h2 {
  font-weight: bolder;
  color: var(--color5);
  margin-top: 1rem;
}

.jc-music {
  background-image: radial-gradient(farthest-corner at 80% 30%, rgba(230, 230, 230, 0.09), #3b393a), url(../images/jc-music-mockup.png);
}

.newsweek {
  background-image: radial-gradient(farthest-corner at 80% 30%, rgba(230, 230, 230, 0.09), #3b393a), url(../images/newsweek-mockup.jpg);
}

.css-linter {
  background-image: radial-gradient(farthest-corner at 80% 30%, rgba(230, 230, 230, 0.09), #3b393a), url(../images/linters-mockup.jpg);
}

.habitica {
  background-image: radial-gradient(farthest-corner at 80% 30%, rgba(230, 230, 230, 0.09), #3b393a), url(../images/habitica-mockup.jpg);
}

.button {
  font-weight: bold;
  border: 2px solid var(--color3);
  border-radius: 5px;
  margin: 1rem 0.5rem 5rem;
}

.button:hover {
  background-color: var(--color3);
  border: 2px solid var(--color3);
  border-radius: 5px;
}

.data, .soft, .other {
  border: 2.5px solid var(--color3);
  border-radius: 7px;
  color: var(--color5);
  padding: 1rem 2rem;
  margin: 1rem 2rem;
  width: 100%;
}

.data > img {
  width: 50px;
  height: 80px;
  filter: invert(100%);
}

.soft > img {
  width: 50px;
  height: 80px;
  filter: invert(100%);
}

.other > img {
  width: 50px;
  height: 80px;
  filter: invert(100%);
}

.list {
  margin-top: 1.7rem;
}

#technologies > h5 {
  color: var(--color5);
}

.techs > li {
  color: var(--color3);
}

.icon {
  max-width: 60px;
  max-height: 100px;
}

.made {
  color: var(--color5);
  padding-top: 4px;
}

/*
===========================================================
                     MEDIA QUERIES
 ==========================================================
*/

@media screen and (max-width: 800px) {
  .name {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .dev {
    font-weight: lighter;
    margin: 2rem 3.7rem;
  }

  .social li {
    margin-top: 3.5rem;
    padding: 0 2rem;
  }

  .sort {
    display: none;
  }

  .main .slide {
    display: none;
  }

  .bg-img {
    display: none;
  }

  .my-img {
    display: none;
  }

  #arrow {
    display: flex;
    justify-content: center;
    position: relative;
    top: 1.8rem;
    left: 7rem;
  }

  .art-img {
    position: relative;
    top: 3rem;
    left: 2.7rem;
    width: 230px;
    height: 330px;
  }
  
  .art-img img {
    position: absolute;
    left: 2.7rem;
    right: 0;
    z-index: 1;
  }
  
  #rectangle {
    border: 2.3px solid var(--color3);
    width: 200px;
    height: 310px;
    border-radius: 5.5px;
    position: absolute;
    top: 4rem;
    left: 3rem;
  }
  
  .about-txt > h1 {
    font-weight: bolder;
    color: var(--color3);
    margin: 5rem 10rem 0 auto;
  }
  
  .about-txt > h2 {
    font-weight: bolder;
    color: var(--color5);
    margin: 2rem 6rem 0 auto;
  }

  .about-txt > p {
    margin: 3rem 0 0 0.9rem;
    color: var(--color5);
  }
  
  .contact {
    height: 18rem;
  }
  /* .projects {
    height: fit-content;
  } */
  .carousel-image {
    height: 64vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }

  .carousel-size {
    height: 90%;
    width: 100%;
  }

  .contrast {
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 1rem;
    margin: 0rem 2rem;
    bottom: 2rem;
  }

  .contrast > h3 {
    font-size: 15px;
  }
  
  .button {
    font-weight: bold;
    border: 2px solid var(--color3);
    border-radius: 5px;
    margin: 0.5rem 1.1rem 0.5rem;
    padding: 4px 6px;
  }

  .boxes {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }

  .techs > li {
    margin: 0.5rem 1rem;
  }

  .tech-list {
    flex-direction: column;
  }

  .icon {
    max-width: 84px;
    max-height: 44px;
  }
  
  .icon-bs, .icon-sass, .icon-ruby, .icon-rails, .icon-js, .icon-react {
    max-width: 52px;
    max-height: 37px;
  }
}

@media screen and (min-width: 768px) {
  .name {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .social li {
    margin-top: 3.5rem;
    padding: 0 4rem;
  }

  .contrast > h3 {
    font-size: 15px;
  }
  
  #arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 1.8rem;
    left: 18.6rem;
  }

  .art-img {
    position: relative;
    top: 3rem;
    left: 11.5rem;
    width: 230px;
    height: 330px;
  }
  
  .art-img img {
    position: absolute;
    left: 2.7rem;
    right: 0;
    z-index: 1;
  }
  
  #rectangle {
    border: 2.3px solid var(--color3);
    width: 200px;
    height: 310px;
    border-radius: 5.5px;
    position: absolute;
    top: 4rem;
    left: 11.7rem
  }

  .about-txt > h1 {
    font-weight: bolder;
    color: var(--color3);
    margin: 5rem 3rem 0 0;
  }
  
  .about-txt > h2 {
    font-weight: bolder;
    color: var(--color5);
    margin: 2rem 3rem 0 auto;
  }

  .about-txt > p {
    margin: 3rem 1rem 1rem 1.5rem;
    color: var(--color5);
  }

  .button {
    font-weight: bold;
    border: 2px solid var(--color3);
    border-radius: 5px;
    margin: 0.5rem 1.1rem 0.5rem;
    padding: 4px 6px;
  }

  .icon {
    max-width: 84px;
    max-height: 44px;
  }
  
  .icon-bs, .icon-sass, .icon-ruby, .icon-rails, .icon-js, .icon-react {
    max-width: 52px;
    max-height: 37px;
  }
}

@media screen and (min-width: 960px) {
  .name {
    font-size: 3rem;
    margin-top: 3rem;
  }

  .dev {
    font-weight: lighter;
    margin: 2rem 3.7rem;
  }

  .social li {
    margin-top: 3.5rem;
    padding: 0 4rem;
  }

  .dev {
    margin: 2rem 10rem;
  }

  #arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 1.8rem;
    left: 0.3rem;
  }

  .contrast {
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 1rem;
    margin: 0.7rem 2rem;
    bottom: 1rem;
  }

  .carousel-image {
    height: 96vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }

  .carousel-size {
    height: 100%;
    width: 75%;
  }

  .button {
    font-weight: bold;
    border: 2px solid var(--color3);
    border-radius: 5px;
    margin: 0.5rem 1.1rem 0.5rem;
    padding: 4px 7px;
  }

  .techs {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 2rem;
  }

  .icon {
    max-width: 84px;
    max-height: 44px;
  }
  
  .icon-bs, .icon-sass, .icon-ruby, .icon-rails, .icon-js, .icon-react {
    max-width: 52px;
    max-height: 37px;
  }
}
