                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  /*
===========================================================
                       GENERAL STYLES
 ==========================================================
*/

:root {
  --color1: #030303;
  --color2: #3b393a;
  --color3: #a99561;
  --color4: #efefef;
  --color5: #fff;
}

/*
===========================================================
                       NAVBAR
 ==========================================================
*/

.navbar {
  width: 100%;
  height: 62px;
  background: linear-gradient(135deg, #fff 0%, #fff 60%, #efefef 100%);
  font-size: 0.95rem;
}

.link {
  color: var(--color1);
  text-shadow: 2px 2px 2px #a99561;
  text-decoration: none;
}

.link:hover {
  text-decoration: none;
  color: var(--color1);
}

.links {
  overflow: hidden;
  padding: 9px 25px;
  border-radius: 6px;
  text-shadow: 2px 2px 2px #a99561;
  color: var(--color1);
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.links::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color3);
  opacity: 0.7;
  transform: scaleX(0);
  transform-origin: 100% 100%;
  transition: transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);
  will-change: transform;
}

.links:hover::before {
  transform-origin: 0 0;
  transform: scaleX(1);
}

#logo {
  position: relative;
  top: 1rem;
  left: 2rem;
  background-color: var(--color3);
  height: 65px;
  width: 58px;
  transition: 0.6s;
}

#logo:hover {
  transform: rotateY(360deg);
}

.logo {
  position: absolute;
  right: 0.8rem;
  height: 46px;
  width: 35px;
}

#arrow {
  position: relative;
  top: -4.6rem;
  background-color: var(--color3);
  margin-left: 3rem;
  margin-top: 0;
  height: 65px;
  width: 58px;
  transition: 0.6s;
}

#arrow:hover {
  transform: rotateY(360deg);
}

.arrow {
  padding-right: 0;
  height: 46px;
  width: 35px;
}

/*
===========================================================
                        HEADER
 ==========================================================
*/

.bg {
  background-color: var(--color1);
}

.social i {
  color: var(--color5);
}

.icon {
  transition: color 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.icon:hover {
  transform: scale(1.2);
  color: var(--color3);
}

.icon:active {
  transform: scale(1.1);
}

.social {
  padding-top: 5rem;
}

.name {
  font-weight: bold;
}

.dev {
  font-weight: bold;
  border: 2.5px solid var(--color3);
  border-radius: 4px;
  padding: 1rem;
  text-align: center;
  justify-content: center;
}

.bg-img {
  position: relative;
  width: 100%;
  background: url(../images/background.png) no-repeat;
  background-size: cover;
  background-position-y: 100%;
  height: 580px;
  margin-top: 2rem;
}

.my-img {
  position: absolute;
  top: 5.6rem;
  right: 0;
  width: 350px;
  height: 490px;
}

/*
===========================================================
                        MAIN
 ==========================================================
*/

.art-img {
  position: relative;
  left: 6rem;
  width: 230px;
  height: 330px;
}

.art-img img {
  position: absolute;
  left: 3rem;
  right: 0;
  z-index: 1;
}

#rectangle {
  border: 2.3px solid var(--color3);
  width: 200px;
  height: 310px;
  border-radius: 5.5px;
  position: absolute;
  top: 1rem;
  left: 8rem;
}

.CV {
  text-decoration: none;
  color: var(--color5);
}

.CV:hover {
  text-decoration: none;
  color: var(--color5);
}

.about-txt > h1 {
  font-weight: bolder;
  color: var(--color3);
  margin-right: 4rem;
}

.about-txt > h2 {
  font-weight: bolder;
  color: var(--color5);
  margin-right: 4rem;
}

.about-txt > p {
  margin-top: 2rem;
  margin-right: 3rem;
  color: var(--color5);
}

.about-txt > span {
  color: var(--color5);
  border: 2.5px solid var(--color3);
  border-radius: 5px;
  margin: 1rem 2rem;
}

.about-txt > span:hover {
  background-color: var(--color3);
  color: var(--color5);
  border: 2.5px solid var(--color3);
  border-radius: 5px;
}

.contact {
  background: linear-gradient(to right, #524F51 0%, #272626 26%, #090909 100%);
  margin-top: 3rem;
  color: var(--color5);
}

#projects {
  margin-bottom: 1rem;
}

.contact > div {
  text-align: center;
}

.title > h1 {
  font-weight: bolder;
  color: var(--color3);
  margin-top: 2rem;
}

.title > h2 {
  font-weight: bolder;
  color: var(--color5);
  margin-top: 1rem;
}

.jc-music {
  background-image: radial-gradient(farthest-corner at 80% 30%, rgba(230, 230, 230, 0.09), #3b393a), url(../images/jc-music-mockup.png);
}

.newsweek {
  background-image: radial-gradient(farthest-corner at 80% 30%, rgba(230, 230, 230, 0.09), #3b393a), url(../images/newsweek-mockup.jpg);
}

.css-linter {
  background-image: radial-gradient(farthest-corner at 80% 30%, rgba(230, 230, 230, 0.09), #3b393a), url(../images/linters-mockup.jpg);
}

.habitica {
  background-image: radial-gradient(farthest-corner at 80% 30%, rgba(230, 230, 230, 0.09), #3b393a), url(../images/habitica-mockup.jpg);
}

.weather {
  background-image: radial-gradient(farthest-corner at 80% 30%, rgba(230, 230, 230, 0.09), #3b393a), url(../images/weatherapp-mockup.jpg);
}

.game {
  background-image: radial-gradient(farthest-corner at 80% 30%, rgba(230, 230, 230, 0.09), #3b393a), url(../images/game-mockup.jpg);
}

.button {
  font-weight: bold;
  border: 2px solid var(--color3);
  border-radius: 5px;
  margin: 1rem 0.5rem 5rem;
}

.button:hover {
  background-color: var(--color3);
  border: 2px solid var(--color3);
  border-radius: 5px;
}

h5 {
  color: var(--color3);
}

.data, .soft, .other {
  border: 2.5px solid var(--color3);
  border-radius: 7px;
  color: var(--color5);
  padding: 1rem 2rem;
  margin: 1rem 2rem;
  width: 100%;
}

.data > img {
  width: 50px;
  height: 80px;
  filter: invert(100%);
}

.soft > img {
  width: 50px;
  height: 80px;
  filter: invert(100%);
}

.other > img {
  width: 50px;
  height: 80px;
  filter: invert(100%);
}

.list {
  margin-top: 1.7rem;
}

#technologies > h5 {
  color: var(--color3);
}

.techs > li {
  color: var(--color5);
}

.icon-html-css {
  max-width: 60px;
  max-height: 100px;
}

.made {
  color: var(--color5);
  font-size: 15px;
  margin-left: 10px;
  padding: 2px 3px 3px 4px;
}

#logo-footer {
  position: relative;
  bottom: 1rem;
  left: 2rem;
  background-color: var(--color3);
  height: 65px;
  width: 58px;
  transition: 0.6s;
}

#logo-footer:hover {
  transform: rotateY(360deg);
}

.logo-footer {
  position: absolute;
  right: 0.8rem;
  height: 46px;
  width: 35px;
}

.social-footer i {
  color: var(--color5);
}

.social-footer {
  padding: 0.5rem;
  margin: 0;
}

/*
===========================================================
                     MEDIA QUERIES
 ==========================================================
*/

@media screen and (max-width: 800px) {
  .link-list {
    padding: 0;
    margin: 0;
    margin-bottom: 0.45rem;
  }

  .links {
    font-size: 0.8rem;
    padding: 0.34rem;
    margin: 0;
  }

  #logo {
    margin-left: -1rem;
  }

  .name {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .dev {
    font-weight: lighter;
    margin: 2rem 5rem;
  }

  .social li {
    margin-top: 3.5rem;
    padding: 0 2rem;
  }

  .sort {
    display: none;
  }

  .main .slide {
    display: none;
  }

  .bg-img {
    display: none;
  }

  .my-img {
    display: none;
  }

  #arrow {
    display: flex;
    justify-content: center;
    position: relative;
    top: 1.8rem;
    left: 7.2rem;
  }

  .art-img {
    position: relative;
    top: 3rem;
    left: 2.7rem;
    width: 230px;
    height: 330px;
  }
  
  .art-img img {
    position: absolute;
    left: 2.7rem;
    right: 0;
    z-index: 1;
  }
  
  #rectangle {
    border: 2.3px solid var(--color3);
    width: 200px;
    height: 310px;
    border-radius: 5.5px;
    position: absolute;
    top: 4rem;
    left: 3rem;
  }
  
  .about-txt > h1 {
    font-weight: bolder;
    color: var(--color3);
    margin: 5rem 2rem 0 2rem;
  }
  
  .about-txt > h2 {
    font-weight: bolder;
    color: var(--color5);
    margin: 2rem 2rem;
  }

  .about-txt > p {
    margin: 3rem 0 0 0.9rem;
    color: var(--color5);
  }
  
  .about-txt > span {
    top: 0.8rem;
    right: 0.2rem;
  }

  .contact {
    height: 18rem;
  }
 
  .carousel-image {
    height: 64vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }

  .carousel-size {
    height: 90%;
    width: 100%;
  }

  .contrast {
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 1rem;
    margin: 0rem 2rem;
    bottom: 1rem;
  }

  .contrast > h3 {
    font-size: 15px;
  }
  
  .carousel-inner > .carousel-item > .carousel-image {
    width: 100%;
    height: 380px;
  }

  .button {
    font-weight: bold;
    font-size: 0.7rem;
    border: 2px solid var(--color3);
    border-radius: 5px;
    margin: 0.3rem 0.9rem 0.3rem;
    padding: 0.3rem 0.6rem;
  }

  .boxes {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }

  .techs {
    margin-bottom: 0;
  }

  .techs > li {
    margin: 0.6rem 1rem;
  }

  .tech-list {
    flex-direction: column;
  }

  .icon-html-css {
    max-width: 84px;
    max-height: 42px;
    padding-left: 2.5rem;
  }
  
  .icon-bs {
    max-width: 42px;
    max-height: 32px;
  }

  .icon-sass, .icon-ruby, .icon-rails, .icon-js {
    max-width: 45px;
    max-height: 35px;
  }

  .icon-react {
    max-width: 50px;
    max-height: 43px;
  }

  .made {
    order: 1;
    margin: 1.3rem 0;
    padding-top: 1rem;
    align-items: center;
    justify-content: center;
  }

  .made > *+* {
    padding: 0 1.5rem;
  }

  .social-footer {
    margin: 1.5rem 0;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 960px)  {
  .links {
    padding: 0.6rem;
    margin-bottom: 0.4rem;
    font-size: 0.9rem;
  }

  .name {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .social li {
    margin-top: 3.5rem;
    padding: 0 4rem;
  }

  .contrast > h3 {
    font-size: 15px;
  }
  
  #arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 1.8rem;
    left: 18.6rem;
  }

  .art-img {
    position: relative;
    top: 3rem;
    left: 11.5rem;
    width: 230px;
    height: 330px;
  }
  
  .art-img img {
    position: absolute;
    left: 2.7rem;
    right: 0;
    z-index: 1;
  }
  
  #rectangle {
    border: 2.3px solid var(--color3);
    width: 200px;
    height: 310px;
    border-radius: 5.5px;
    position: absolute;
    top: 4rem;
    left: 11.7rem;
  }

  .about-txt > h1 {
    font-weight: bolder;
    color: var(--color3);
    margin: 5rem 2rem 0 2rem;
  }
  
  .about-txt > h2 {
    font-weight: bolder;
    color: var(--color5);
    margin: 2rem 2rem;
  }

  .about-txt > p {
    margin: 1rem 1.8rem 1rem 1rem;
    color: var(--color5);
  }

  .carousel-inner > .carousel-item > .carousel-image {
    width: 100%;
    height: 460px;
    object-fit: contain;
  }

  .description {
    font-size: 0.8rem;
  }

  .button {
    font-weight: bold;
    border: 2px solid var(--color3);
    border-radius: 5px;
    margin: 0.2rem 1rem;
    padding: 4px 6px;
  }

  .icon-html-css {
    max-width: 84px;
    max-height: 42px;
    padding-left: 2.5rem;
  }

  .icon-bs, .icon-sass, .icon-ruby, .icon-rails, .icon-js {
    max-width: 44px;
    max-height: 34px;
  }

  .icon-react {
    max-width: 50px;
    max-height: 43px;
  }

  .made {
    order: 0;
    justify-content: flex-start;
    padding: 0;
  }

  .social-footer i {
    color: var(--color5);
  }
  
  .icon:hover {
    color: var(--color3);
  }
  
  .social-footer {
    padding-top: 1rem;
  }
}

@media screen and (min-width: 960px) {
  .name {
    font-size: 3rem;
    margin-top: 3rem;
  }

  .dev {
    font-weight: lighter;
    margin: 2rem 3.7rem;
  }

  .social li {
    margin-top: 3.5rem;
    padding: 0 2rem;
  }

  .dev {
    margin: 2rem 10rem;
  }

  #arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 1.8rem;
    left: 0.3rem;
  }

  .contrast {
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 1rem;
    margin: 0.7rem 2rem;
    bottom: 1rem;
  }

  .carousel-image {
    height: 96vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }

  .carousel-size {
    height: 100%;
    width: 75%;
  }

  .button {
    font-weight: bold;
    border: 2px solid var(--color3);
    border-radius: 5px;
    margin: 0.5rem 1.1rem 0.5rem;
    padding: 4px 7px;
  }

  .techs {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 2rem;
  }

  .icon-html-css {
    max-width: 84px;
    max-height: 44px;
  }
  
  .icon-bs, .icon-sass, .icon-ruby, .icon-rails, .icon-js {
    max-width: 52px;
    max-height: 37px;
  }

  .icon-react {
    max-width: 60px;
    max-height: 40px;
  }
}
