                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  /*
===========================================================
                       GENERAL STYLES
 ==========================================================
*/

:root {
  --color1: #030303;
  --color2: #3b393a;
  --color3: #a99561;
  --color4: #efefef;
  --color5: #fff;
}

/*
===========================================================
                       NAVBAR
 ==========================================================
*/

.navbar {
  width: 100%;
  height: 62px;
  background: linear-gradient(135deg, #fff 0%, #fff 60%, #efefef 100%);
  font-size: 0.95rem;
}

.logo-img {
  width: 60px;
  height: 60px;
  transition: 0.6s;
}

.logo-img:hover {
  transform: rotateY(360deg);
}

.logo-img img {
  width: 35px;
  height: 35px;
}

.link {
  color: var(--color1);
  text-shadow: 2px 2px 2px #a99561;
  padding: 0.4rem;
}

.link:hover {
  color: var(--color1);
  background-color: var(--color3);
  text-decoration: none;
  border-radius: 0.15rem;
}

#logo {
  position: relative;
  top: 1rem;
  left: 2rem;
  background-color: var(--color3);
  height: 65px;
  width: 58px;
}

.logo {
  position: absolute;
  right: 0.8rem;
  height: 46px;
  width: 35px;
}


/*
===========================================================
                        HEADER
 ==========================================================
*/

.bg {
  background-color: var(--color1);
  height: 700px;
}

.social i {
  color: var(--color5);
}

.icon:hover {
  color: var(--color3);
}

.social {
  padding-top: 5rem;
}

.name {
  font-weight: bold;
}

.dev {
  font-weight: bold;
  border: 2.5px solid var(--color3);
  border-radius: 4px;
  padding: 1rem;
  text-align: center;
  justify-content: center;
}

.bg-img {
  position: relative;
  width: 100%;
  background: url(../images/background.png) no-repeat;
  background-size: cover;
  background-position-y: 100%;
  height: 580px;
  margin-top: 2rem;
}

.my-img {
  position: absolute;
  top: 5.6rem;
  right: 0;
  width: 350px;
  height: 490px;
}

/*
===========================================================
                     MEDIA QUERIES
 ==========================================================
*/

@media screen and (max-width: 768px) {
  .name {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .dev {
    font-weight: lighter;
    margin: 2rem 3.7rem;
  }

  .social li {
    margin-top: 3.5rem;
    padding: 0 2rem;
  }

  .sort {
    display: none;
  }

  .main .slide {
    display: none;
  }

  .bg-img {
    display: none;
  }

  .my-img {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .name {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .social li {
    margin-top: 3.5rem;
    padding: 0 4rem;
  }
}

@media screen and (min-width: 960px) {
  .name {
    font-size: 3rem;
    margin-top: 3rem;
  }

  .social li {
    margin-top: 3.5rem;
    padding: 0 4rem;
  }

  .dev {
    margin: 2rem 10rem;
  }
}
